<form [formGroup]="listingForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input id="name" formControlName="name" />
    </div>

    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div>
      <label for="neighborhood_overview">Neighborhood Overview</label>
      <textarea id="neighborhood_overview" formControlName="neighborhood_overview"></textarea>
    </div>

    <div>
      <label for="picture_url">Picture URL</label>
      <input id="picture_url" formControlName="picture_url" />
    </div>

    <div>
      <label for="neighbourhood_cleansed">Neighbourhood Cleansed</label>
      <input id="neighbourhood_cleansed" formControlName="neighbourhood_cleansed" />
    </div>

    <div>
      <label for="latitude">Latitude</label>
      <input id="latitude" type="number" formControlName="latitude" />
    </div>

    <div>
      <label for="longitude">Longitude</label>
      <input id="longitude" type="number" formControlName="longitude" />
    </div>

    <div>
      <label for="room_type">Room Type</label>
      <input id="room_type" formControlName="room_type" />
    </div>

    <div>
      <label for="amenities">Amenities (comma-separated)</label>
      <input id="amenities" formControlName="amenities" />
    </div>

    <div>
      <label for="price">Price</label>
      <input id="price" type="number" formControlName="price" />
    </div>

    <div>
      <label for="minimum_nights">Minimum Nights</label>
      <input id="minimum_nights" type="number" formControlName="minimum_nights" />
    </div>

    <div>
      <label for="maximum_nights">Maximum Nights</label>
      <input id="maximum_nights" type="number" formControlName="maximum_nights" />
    </div>


    <button type="submit" [disabled]="listingForm.invalid">Submit</button>
  </form>
