<nav>
    <ul class="left">
        <li>
            <a [routerLink]="['']"><i class="fas fa-home"></i> Accueil</a>
        </li>
    </ul>
    <div class="nav-links">
        <ul>
            <li>
                <a [routerLink]="['/signup']"><i class="fas fa-user-plus"></i> Créer un compte</a>
            </li>
            <li>
                <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
            </li>
            <li>
                <a [routerLink]="['/profile']"><i class="fas fa-user"></i> Profil</a>
            </li>
        </ul>
    </div>
</nav>
