<div class="user-profile" *ngIf="userProfile">
  <div class="profile-header">
    <img class="profile-picture" src="{{ userProfile.picture_url }}" alt="{{ userProfile.name }}">
    <div class="profile-info">

      <div class="name-and-edit">
        <h1 class="profile-name">{{ userProfile.name }}</h1>
        <button class="edit-button" [routerLink]="['/profile/edit']">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
      <p><strong>Email :</strong> {{ userProfile.email }}</p>
      <p><strong>Description :</strong> {{ userProfile.description }}</p>

      <!-- Display 'Mes logements' and listings only if the user is a host -->
      <div *ngIf="userProfile.is_host === 1">
        <p><strong>Mes logements :</strong></p>

        <!-- Add new logement button -->
        <button class="add-logement" [routerLink]="['/listings/add']">
          Ajouter un logement
        </button>

        <div *ngIf="userListings && userListings.length > 0">
          <div class="listing" *ngFor="let listing of userListings">
            <app-listing-card [listing]="listing"></app-listing-card>
          </div>
        </div>
        <div *ngIf="!userListings || userListings.length === 0">
          <p>Pas de logements en location.</p>
        </div>


      </div>
    </div>

    <!-- Become host button if the user is not a host -->
    <button *ngIf="userProfile.is_host === 0" class="become-host" (click)="becomeHost()">
      Devenir hôte
    </button>
  </div>

  <button class="delete-account" (click)="onDeleteAccount()">
    Supprimer compte
  </button>
</div>
