<div class="user-profile" *ngIf="userProfile">
  <div class="profile-header">
    <img class="profile-picture" src="{{ userProfile.picture_url }}" alt="{{ userProfile.name }}">
    <div class="profile-info">
      <div class="name-and-edit">
        <h1 class="profile-name" *ngIf="!isEditing">{{ userProfile.name }}</h1>
        <p *ngIf="isEditing">Nom</p>
        <input *ngIf="isEditing" [(ngModel)]="editingUser.name" class="edit-input" type="text">
        <button *ngIf="!isEditing" class="edit-button" (click)="startEditing(userProfile)">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
      <p *ngIf="!isEditing"><strong>Email :</strong> {{ userProfile.email }}</p>
      <p *ngIf="isEditing">Email</p>
      <input *ngIf="isEditing" [(ngModel)]="editingUser.email" class="edit-input" type="email">

      <p *ngIf="isEditing">Mot de passe :</p>
      <input *ngIf="isEditing" [(ngModel)]="editingUser.password" class="edit-input" type="password">

      <p *ngIf="isEditing">Confirmer le mot de passe :</p>
      <input *ngIf="isEditing" [(ngModel)]="editingUser.confirmPassword" class="edit-input" type="password">

      <p *ngIf="!isEditing"><strong>Description :</strong> {{ userProfile.description }}</p>
      <textarea *ngIf="isEditing" [(ngModel)]="editingUser.description" class="edit-input" placeholder="Entrez une description..."></textarea>

      <p><strong>Hôte :</strong> {{ userProfile.is_host === 1 ? 'Oui' : 'Non' }}</p>
      <p *ngIf="userProfile.is_host === 1"><strong>Logements en location :</strong> {{ userProfile.housing || 'N/A' }}</p>
    </div>
  </div>

  <div class="edit-buttons" *ngIf="isEditing">
    <button class="save-button" (click)="saveProfile()">Save</button>
    <button class="cancel-button" (click)="cancelEdit()">Cancel</button>
  </div>

  <button class="delete-account" (click)="onDeleteAccount()">
    Supprimer compte
  </button>
</div>
